/*DATOS PERSONALES*/
.tabla{
    background-color: white;
    width: 60%;
    height: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border-color: $color-secundario;
    border-radius: 0 0 8px 8px;
    box-shadow: $sombra;
    border: 1px solid  $color-secundario;

    .tabla__fila{
        border: 1px solid  $color-secundario;
        text-align: center;
    }        
}

/*INICIAR SESION*/

/* texto bienvenida, no te preocupes*/
.box__texto__bienvenida{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    padding-top: 25px;
    .box__logo{
        margin-left: 13px;
    }   
}
/* texto TicTac */
.box__texto__tictac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;  
}

/* caja contenedora olvidaste contraseña, primera vez*/
.box__nuevo{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    height: 90px;
    .box__recuperar{
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: blue;
        font-family: $fuente;
        font-size: $fuente-tamaño-pequeño;
    }
}


/* texto ingresar datos de registro*/
.box__texto__recuperar{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    font-size: 32px;
} 

.titulo2{
    font-size: 32px;
    margin-left: 50px;
    margin-top: 20px;
}
