$color-primario: #00C278; 
$color-secundario: #D28900;
$color-acento-inactivo: #DFEADC;
$color-acento-presionado: #165107;
$color-acento-activo: #7CB170;
$sombra: 2px 2px 5px black;
$fuente: 'Roboto Condensed', sans-serif;
$fuente-tamaño-grande: 16px ; 
$fuente-tamaño-mediano: 14px;
$fuente-tamaño-pequeño: 12px;